/*
 * Copyright 2018, collaboration Factory AG. All rights reserved.
 *
 * Some overrides for TUI JSDoc template CSS. Add changes to styles here.
 */
.main section article table td.name,
.main section article table td.type,
.main section article table td.attributes,
.main section article table td.default {
    max-width: 250px;
}

.text-page {
    border-top: 5px solid #00beaa;
}

.text-page .text {
    font-size: 16px;
    width: 960px;
    margin: 0 auto;
}

.for_boxes {
    list-style: none;
    padding: 0;
    margin: 0;
}

.one_line_col > ul.for_boxes > li {
    float: left;
    width: 50%;

}

.iconed {
    padding-left: 40px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position-x: 2px;
    background-position-y: 26px;
    background-position: 2px 26px;
}

.for_boxes h3 {
    font-size: 13px;
    line-height: 19px;
    font-weight: bold;
    padding-top: 24px;
}

.iconed ul li h3 {
    padding-top: 10px;
    color: #787878;
}

.privacy {
    margin-bottom: 50px;
}

.privacy ul, .privacy ul ul, .privacy ul ul ul {
    list-style-type: none;
}

.privacy #contact_information {
    padding-top: 40px;
    clear: left;
}

.footer .generated-on {
    font-size: 10px;
}
